-# Template to control the add content modal.
.PanelsContentModal.PanelsContentModal--addContent.Grid.Grid--withGutter
  .PanelsSectionColumn.PanelsSectionColumn--categories.Grid-cell.u-size1of4
    .inside
      - if (!empty($fielded_pane_content))
        %h4 
          = t('New content')
        = $fielded_pane_content
      .PanelsCategories-box
        - foreach ($categories_array as $category)
          = $category
  .PanelsSectionColumn.PanelsSectionColumn--categories.Grid-cell.u-size1of4
    .inside
      - if (!empty($root_content))
        %h4
          = t('Existing content')
        = $root_content
  .Grid-cell.u-size2of4
    = $messages
    %h4
      = t('Help')
    - if (!empty($help))

      .Arrange.Arrange--withGutter
        .Arrange-sizeFit
          %img(src=$layout_icon)
        .Arrange-sizeFill.PanelsCategories-description
          = $help

    - if (!empty($columns))
      .PanelsSectionColumns
        - foreach ($columns as $column_id => $column)
          .PanelsSectionColumn.PanelsSectionCoolumn-{$column_id}
            .inside
              = $column
